#dropdown-user {
  top: 100%;
  right: 0;
}

#logo-sidebar {
  transition: transform 0.3s ease-in-out;
}

.p-4 {
  transition: margin-left 0.3s ease-in-out;
}

.dropdown-menu {
  transition: max-height 0.3s ease-in-out, opacity 0.3s ease-in-out;
  overflow: hidden;
  max-height: 0;
  opacity: 0;
}

.dropdown-menu.expanded {
  max-height: 500px; // Adjust as needed
  opacity: 1;
}

.menu-item:hover {
  background-color: #f3f4f6; /* Light gray background */
  color: #1f2937; /* Dark text color */
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.min-h-screen {
  min-height: 100vh;
}

.flex-1 {
  flex: 1;
}

.sm\:ml-64 {
  margin-left: 16rem; /* Adjust based on your sidebar width */
}

.mt-16 {
  margin-top: 4rem; /* Adjust as needed */
}
